<%@ Master Language="C#" MasterPageFile="~/masterpages/BaseMaster.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderId="Head" runat="server">
</asp:Content>
	
<asp:Content ContentPlaceHolderId="Main" runat="server">
<h1>Hello World, from Github!</h1>
<umbraco:Macro Alias="Home" runat="server"></umbraco:Macro>
</asp:Content>
